name: Develop
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ubuntu-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install
        run: |
          npm install
          node_modules/.bin/vsce package
      - name: Publish
        if: contains(github.event.head_commit.message, '[publish]')
        run: |
          node_modules/.bin/vsce publish
        env:
          VSCE_PAT: ${{ secrets.PUB_TOKEN }}
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: vscode-plugin
          path: "*.vsix"
